.btn {
  display: inline-flex;
  padding: 27px 56px;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  text-transform: uppercase;
  justify-content: center;
  letter-spacing: 0.6px;

  color: $color-default-white;


  cursor: pointer;

  transition: opacity $trans-default;


  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 1;
  }
}
