.features {
  background-color: #f8f9fc;

  @include vp-767 {
    .container {
      padding: 0;
    }
  }
}

.features__wrapper {
  padding: 120px 60px;

  @include vp-1365 {
    padding: 101px 0;
  }

  @include vp-767 {
    padding-top: 71px;
    padding-bottom: 70px;
  }

  h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    font-family: "AlumniSans";
    color: $color-button-active;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;

    @include vp-1365 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 49px;
      letter-spacing: 1.26px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
      margin-bottom: 52px;
    }
  }
}

.features__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-template-columns: 340px 240px 340px;
  column-gap: 60px;
  row-gap: 115px;

  @include vp-1365 {
    grid-template-columns: 46.3% 46.3%;
    grid-template-rows: auto auto auto;
    column-gap: 7.5%;
    row-gap: 41px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 36px;
  }
}

.discription__item:nth-child(4n) {
  @include vp-1365 {
    width: 192px;
  }
}

.discription__item {
  @include vp-767 {
    text-align: center;
    padding-left: 14%;
    padding-right: 14%;
  }
}

.features__text-wrapper {
  display: flex;
  align-items: start;

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }


  h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;

    @include vp-1365 {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }

  .number {
    display: flex;
    flex-direction: column;
    margin-right: 29px;

    @include vp-1365 {
      margin-right: 14px;
      justify-content: space-between;
    }

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  span {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    display: block;
    margin-bottom: 2px;
    margin-left: -2px;
    background: linear-gradient(142deg, #d10a42 0, #0041ca 88.2%) #1c3374;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include vp-1365 {
      max-width: 107px;
      margin-bottom: 8px;
      line-height: 61px;
    }

    @include vp-767 {
      font-size: 64px;
      font-weight: 700;
      line-height: 64px;
      margin-bottom: 2px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
    }
  }

  b {
    color: #2e35ac;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    @include vp-767 {
      text-align: center;
      line-height: 20px;
    }
  }
}

.features__item {
  @include vp-1365 {
    width: 314px;
    justify-self: center;
  }

  @include vp-767 {
    width: auto;
  }
}

.features__item:nth-child(5n-1),
.features__item:nth-child(5n) {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 340px;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);
    top: -56px;
    left: 0;

    @include vp-1365 {
      display: none;
    }
  }
}

.features__item:nth-child(3n) {
  color: $color-default-white;
  background-color: #1c3374;
  grid-column: 2/3;
  grid-row: 1/3;
  margin-top: 4px;
  text-align: center;

  @include vp-1365 {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 400px;
    margin-top: 0;
    justify-self: center;
  }

  @include vp-767 {
    width: 100%;
    grid-row: 3/4;
  }

  .features__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 68px 34px 79px;

    @include vp-1365 {
      padding: 36px 95px;
    }

    @include vp-767 {
      padding: 30px 74px;
      padding-bottom: 40px;
    }

    .number {
      margin-right: 0;
    }

    span {
      -webkit-text-fill-color: $color-default-white;
      color: $color-default-white;
      margin-bottom: 14px;
      margin-right: auto;
      margin-left: auto;

      @include vp-1365 {
        margin-bottom: 32px;
        margin-right: auto;
        margin-left: auto;
      }

      @include vp-767 {
        margin-bottom: 5px;
      }
    }

    b {
      display: block;
      color: $color-default-white;
      font-size: 26px;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 34px;


      @include vp-1365 {
        margin-bottom: 25px;
        font-family: "Roboto";
        font-size: 24px;
        line-height: 24px;
      }

      @include vp-767 {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }

    p {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      @include vp-767 {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
      }
    }
  }
}
