.jury__title {
  font-family: "AlumniSans";
  margin: 0;
  margin-bottom: 45px;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;

  @include vp-1365 {
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 39px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 41px;
  }
}

.jury__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}

.jury__slider {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  @include vp-1365 {}
}

.jury__wrapper {
  @include vp-1365 {
    width: 83.7%;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 77.8%;
    margin: 0 auto;
  }
}

.jury__image {
  width: 260px;
  height: 294px;

  @include vp-1365 {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.jury__item {
  position: relative;
  width: 260px;
  height: 294px;


  @include vp-1365 {
    width: 47.1%;
    height: auto;
  }

  @include vp-767 {
    width: 100%;
    height: auto;
  }

  @include hover-focus {
    .jury__name {
      display: none;
    }

    .jury__member {
      display: block;
    }
  }

  &:focus {
    .jury__name {
      display: none;
    }

    .jury__member {
      display: block;
    }
  }
}

.jury__name {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translate(-50%, 246px);
  width: max-content;
  color: $color-default-white;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;

  @include vp-1365 {
    left: 50%;
    bottom: 8.84%;
    transform: translate(-50%, 0);
    font-size: 20px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    bottom: 9.84%;
  }
}

.jury__member {
  display: none;
  position: absolute;
  top: 0;
  width: 260px;
  height: 294px;
  text-align: center;
  padding: 45px 41px;
  background-color: rgba(16, 38, 84, 0.89);
  filter: drop-shadow(0 0 35px rgba(42, 59, 99, 0.17));
  overflow-y: auto;

  @include vp-1365 {
    width: 100%;
    height: 100%;
  }
}

.member__name {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  color: $color-default-white;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}

.member__category {
  margin: 0;
  color: #b6bdcc;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 33px;
}

.member__achievements {
  display: grid;
  grid-template-columns: 1 fr;
  text-align: left;
  gap: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.member__achievement {
  position: relative;
  padding-left: 16px;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-default-white;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 0;
    top: 8px;
  }
}

.jury__wrapper {
  position: relative;
}

.button-swiper {
  position: absolute;
  border: none;
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: $color-transparent;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }

  svg {
    color: $color-button-active;

    @include vp-767 {
      width: 10px;
      height: 19px;
    }
  }

  @include hover-focus {
    border: 1px solid $color-button-active;
    cursor: pointer;
  }

  @include active {
    background-color: $color-button-active;

    svg {
      color: $color-default-white;
    }
  }
}

.jury__button--prev,
.jury__button--next {
  top: 218px;

  @include vp-1365 {
    top: 53.3%;
  }

  @include vp-767 {
    top: 55.2%;
  }
}

.jury__button--prev {
  left: -75px;

  @include vp-1365 {
    left: -73px;
  }

  @include vp-767 {
    left: -41px;
  }


  svg {
    margin-right: 5px;
  }
}

.jury__button--next {
  left: calc(100% + 20px);
  transform: rotate(180deg);

  @include vp-1365 {
    left: 103.2%;
  }

  @include vp-767 {
    left: 101.2%;
  }

  svg {
    margin-right: 5px;
  }
}

.slide-active {
  .jury__member {
    display: block;
  }
}
