.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;
  font-weight: 400;
  font-size: 24px;
  color: #102654;

  @include vp-1365 {
    padding: 0 5.8%;
  }

  @include vp-767 {
    padding: 0 4.6%;
  }
}
